td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group {
    margin: 2rem 0;
}

svg {
    height: 150px;
}

.GoogleMap {
    height: 200px;
    width: 250px;
}

.input-label-warning {
    display: none;
}

body {
    background-color: lightblue;
}

.table {
    background-color: #fff;
}

.btn-secondary:hover {
    background-color: darkslategrey;
    color: #fff;
}