td, th {
    vertical-align: middle !important;
    text-align: center !important;
}

.input-group {
    margin: 2rem 0;
}

svg {
    height: 150px;
}

.GoogleMap {
    height: 200px;
    width: 250px;
}

.input-label-warning {
    display: none;
}
